<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Api Settings Dashboard</title>
        <style>
            form{
                border: 1px solid black;
                position: fixed;
                padding: 25px;
                padding-top: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Dashboard</h1>

        <form action="/api/settings/update" method="POST">
            <h3>Site Settings</h3>
            <label for="title">Title: </label>
            <input type="name" name="title">
            <br />
            <br />
            <label for="title">Subtitles: </label>
            <input type="name" name="subtitles">
            <button type="submit">Güncelle</button>
        </form>
        
    </body>
</html>